body {
  /* font-size: 90%; */
  font-family: var(--bs-font-sans-serif);
}

section {
  padding-top: 50px;
  padding-bottom: 50px;
}

.checkImage {
  width: 40px;
  /* padding-right: 10px; */
  /* display: block;
  margin: 0 auto; */
  float: right;
}

.checkImageDiv {
  padding: 0px;
}

.checklist {
  padding-top: 5px;
  padding-bottom: 5px;
}

a {
  text-decoration: none;
  color: #c8d1db;
}

a:hover {
  color: #8bb7f0;
}

a.btn-link:active,
a.btn-link:hover,
a.btn-link {
  text-decoration: none !important;
  color: #211f30 !important;
}

a.btn-link:hover {
  background-color: #eef1f1;
}

button.btn-link:active,
button.btn-link:hover,
button.btn-link {
  text-decoration: none !important;
  color: #211f30 !important;
}

.nav-link > h6 {
  color: #ffffff;
}
/* .nav-link > h6:hover {
  border-bottom: 3px solid #228800;
} */

.answer {
  font-size: 1rem;
  /*text-indent: 40px;*/
  /*text-align: justify;*/
}

.whitetext {
  color: white;
}

.greytext {
  color: #c8d1db;
}

.darkgreytext {
  color: #111212;
}

.darkbluetext {
  color: #211f30;
}

.gradienttext {
  background: linear-gradient(
    to right top,
    #283c86,
    #005fa3,
    #007b9c,
    #009177,
    #45a247
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.p-mod {
  font-size: 1.25rem;
  font-weight: 400;
}

a.spoiler1,
a.spoiler2 {
  display: block;
  margin: 0 auto;
  border: 2px dashed #009177;
}

a.spoiler1:hover {
  background-color: #e9a764;
}

a.spoiler2:hover {
  background-color: lightgray;
}

.sevice-item {
  text-align: left;
  background-color: #dcf9d7;
  padding: 10px;
  border-radius: 20px;
}

.howtogetservicecard {
  padding-bottom: 20px;
  padding-top: 20px;
  margin-bottom: 20px;
  border: 2px solid #11121228;
  /* background-color: white; */
  /* border-radius: 5%; */
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */
}

.howtogetservicetext {
  padding: 0 10px;
}

.form-group {
  padding-top: 5px;
  padding-bottom: 5px;
}

.navbar-brand {
  margin-right: 0;
}

.navbar2 {
  padding-top: 0;
  padding-bottom: 0;
}

.sr-only {
  color: #7e8994;
}

.sr-only:hover {
  color: #212529;
}

.footer-ahref {
  color: #009177;
}

.footer-ahref:hover {
  color: #007b9c;
}

/*
Colors
#c8d1db
#8bb7f0
#7a99c2
#4e7ab5
*/

/* ------------------------Настройки видео -----------------------------*/

/* .intro {
  max-height: 100vh;
  overflow: hidden;
}

.intro::after {
  content: "";
  display: block;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;

  z-index: 2;

  background-color: rgba(0, 0, 0, 0.7);
}

.video {
  position: relative;
  padding-bottom: 56.25%;

  z-index: 1;
}

.video__media {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
} */

.btn-outline-success {
  background-color: none;
  color: #009177;
  border: 1px solid #009177;
  border-radius: 0;
  font-weight: 500;
}

.btn-outline-success:hover {
  background-image: linear-gradient(
    to right top,
    #283c86,
    #005fa3,
    #007b9c,
    #009177,
    #45a247
  );
  color: #f5f4f4;
  font-weight: 500;
  border: 1px solid #f5f4f4;
}

.cardhover:hover {
  background-color: #dcf9d7;
}

/* .cardhover:focus {
  background-color: #dcf9d7;
} */

.navbar-nav {
  margin-left: 80px;
  margin-top: 16px;
  width: fit-content;
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-menu {
  background-color: #111212;
}

.dropdown-item {
  color: #dedfdf;
}

li.nav-item {
  padding-bottom: 3px;
  padding-left: 4px;
  padding-right: 4px;
}

li.nav-item:hover {
  padding-bottom: 0px;
  border-bottom: 3px solid #228800;
  border-image: linear-gradient(
    to right,
    #283c86,
    #005fa3,
    #007b9c,
    #009177,
    #45a247
  );
  border-image-slice: 1;
}

.privacypolicy_content {
  margin: 20px;
}

.privacypolicy_span {
  font-size: 2rem;
  font-weight: 600;
  vertical-align: middle;
}

/* ---------------------------------МЕДИА ЗАПРОСЫ (НАЧАЛО)------------------------------------ */

@media (max-device-width: 768px) {
  .mobile_mod {
    display: none;
  }
}

@media (max-device-width: 550px) {
  .mobile_mod {
    display: none;
  }

  .header_fix {
    width: 50%;
    text-align: center;
  }

  .toggle_fix {
    width: 20%;
  }

  .number_fix {
    width: 50%;
    text-align: center;
  }

  .button_fix {
    width: 50%;
    text-align: center;
  }
}

@media (max-device-width: 480px) {
  .text_mod {
    text-align: center;
    text-indent: 0px;
    font-size: 1rem;
  }
  .text_mod1 {
    text-align: center;
    text-indent: 0px;
    font-size: 1rem;
  }
  p.mob-p-size {
    font-size: 1rem;
  }
  .title_text_mod {
    font-size: 32px;
  }
  .description_text_mod {
    font-size: 20px;
  }
  .carousel_prev {
    padding: 5px;
  }
  .carousel_next {
    padding: 5px;
  }

  .comment {
    text-align: center;
  }

  /* .brand_image_mod {
    width: 60px;
  } */
  .brand_title_mod {
    font-size: 2rem;
  }
  .brand_text_mod {
    font-size: 0.8rem;
  }
  .section_mod {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .mob-text-center {
    text-align: center;
  }

  .privacypolicy_content {
    margin: 0px;
  }

  .privacypolicy_span {
    font-size: 1.4rem;
  }

  .mob-button-center {
    display: block;
    margin: 0 auto;
  }

  .mob-section-padding-fix {
    padding-top: 0px;
    padding-bottom: 10px;
  }

  .mob-section-width-fix {
    width: 90%;
  }
}

@media (max-device-width: 917px) {
  .title_text_mod {
    margin-top: 10px;
  }
}

@media (min-device-width: 480px) {
  .text_mod {
    text-align: justify;
    text-indent: 40px;
  }
  .text_mod1 {
    text-align: justify;
    text-indent: 40px;
  }
  .title_text_mod {
    font-size: 50px;
  }
}

@media (max-device-width: 1080px) and (min-device-width: 768px) {
  .mobile_font-size {
    font-size: 18px;
  }
}

@media (max-device-width: 372px) {
  .navbar-toggler {
    padding: 5px;
  }
}

@media (max-device-width: 360px) {
  /* .brand_size {
    font-size: 20px;
  } */
  .mobile_font-size {
    font-size: 13px;
  }
  .btn {
    padding: 5px;
    font-size: 13px;
  }
  /* .brand_image_mod {
    width: 40px;
  } */
  .brand_title_mod {
    font-size: 1.8rem;
  }
  .brand_text_mod {
    font-size: 0.7rem;
  }
}

/* ---------------------------------МЕДИА ЗАПРОСЫ (КОНЕЦ)------------------------------------ */

/* Видеобэкграунд первого экрана */
.fullscreen-bg {
  overflow: hidden;
  z-index: -100;
  position: relative;
  height: 100%;
  width: 100%;
  padding-top: 45%;
}

.fullscreen-bg__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.overlay {
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
}
.overlay h1 {
  text-align: center;
  color: #fff;
  font-size: 50px;
  margin-top: 12%;
}

/*  */
@media (max-width: 767px) {
  .fullscreen-bg {
    background: url("../images/video.jpg") center center / cover no-repeat;
  }
  .fullscreen-bg__video {
    display: none;
  }
}
